/*-------------------------------------*\
  #variables.css
\*-------------------------------------*/

/**
 * copyright 2021 @codewithsadee 
 */





/**
 * all global variables 
 */

:root {

  /**
   * Colors 
   */

  --live-indicator-shadow: hsla(0, 79%, 63%, 0.5);
  --rich-black-fogra-30:   hsl(219, 32%, 10%);
  --rich-black-fogra-29:   hsl(222, 25%, 10%);
  --live-indicator:        hsl(0, 79%, 63%);
  --oxford-blue-50:        hsla(218, 39%, 14%, 0.8);
  --oxford-blue:           hsl(218, 39%, 14%);
  --light-azure:           hsl(214, 84%, 56%);
  --off-white:             hsl(0, 0%, 88%);
  --yellow:                hsl(45, 100%, 54%);
  --white:                 hsl(0, 0%, 100%);
  --azure:                 hsl(211, 100%, 50%);

  /**
   * Typography 
   */

  --ff-inter: "Inter", sans-serif;

  --section-heading: 40px;
  --fs-lg:           22px;
  --fs-md:           17px;
  --fs-sm:           14px;
  --fs-x-sm:         12px;
  
  --fw-7: 700;
  --fw-6: 600;
  --fw-5: 500;

  /**
   * Spacing 
   */

  --px: 120px; /* padding-left & padding-right */

}